.primaryColor{
    color: #0056d2;
}
.primaryBg{
    background-color: #0056d2;
}
.primaryBg:hover{
    background-color: #003d92;
}
.buttonClick:hover{
    border: 2px solid black;
}
.linkFont{
    font-size: small;
}
.link:hover{
    text-decoration: underline;
    color: #0056d2 !important;
}
.searchBtn{
    display: none;
}
.form-input{
    width: 100%;
    padding: 10px;
}
.form-input:focus{
    box-shadow: none;
}
.dpdown:hover{
    background-color: rgb(0, 65, 158, 0.1);
}
@media only screen and (max-width: 1400px){
    .form-input{
        width: 65%;
    }
    .form-input::placeholder{
        font-size: small;
    }
    span{
        display: none;
    }
} 


@media only screen and (max-width: 991px){
    .searchBtn{
        display: block;
        color: black;
        width: 25px;
    }
}


