
.s1lheading{
    color: #1f1f1f;
    font-size: 5.25rem;
    line-height: 5.75rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
}
.s1lpara{
    font-size: 1.25rem !important;
    text-align: left !important;
}
.button{
    color: #0056d2 !important;
    border: 2px solid #0056d2 ;
}
.row{
    margin: 0 10% 0 20% !important;
}
.s1img{
    max-width: 459px;
    max-height: 497px;

}


@media only screen and (max-width: 1440px) {
    .row{
        margin: 0% 7% !important;
    }
    .s1img{
        width: 90% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .row{
        margin: 0% !important;
        
    }
    .s1lheading{
        color: #1f1f1f;
        font-size: 4rem !important;
        line-height: 4rem !important;
    }
    .section1-left{
        padding: 2% 0% !important;
    }
    .s1img{
        width: 100% !important;
        margin-top: 30%;
    }
    .section1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
    }
    .section1-left button {
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
}


@media only screen and (max-width: 991px) {
    .row{
        margin: 0% 10% !important;
        
    }
    .s1img{
        width: 100% !important;
    }
    .section1-left button {
        padding-right: 3rem!important;
        width: 60%;
        margin: 2% 0%;
        padding-left: 3rem!important;
    }
    .section1-right{
        display: none;
    }
    .section1-left{
        padding: 0% 5% !important;
    }
    .section1{
        display: flex;
        align-items: center;
        padding: 0 2% !important;
    }
    .section1-left h1,.section1-left p{
        text-align: left !important;
    }
}

@media  only screen and (max-width: 768px) {
    .row{
        margin: 0% 0% !important;
        
    }
    .section1{
        padding: 0% 15% !important;
    }
    .s1lpara{
        text-align: left;
    }
}

@media  only screen and (max-width: 567px) {
    .section1{
        padding: 0% 0% !important;
    }
    .section1-left button {
        padding-right: 3rem!important;
        width: 100%;
        margin: 2% 0%;
        padding-left: 3rem!important;
    }
    .s1lheading{
        color: #1f1f1f;
        font-size: 3rem !important;
        text-align: center !important;
        line-height: 3.5rem !important;
    }
    .section1-left p, .section1-left h1{
        text-align: center !important;
        padding: 10px !important;
    }
}

    